.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #222;
  height: 25px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.7em;
}

.App-intro {
  font-size: large;
}

.live-cam {
  width: 100vw;
}

.weather-container {
  position: absolute;
  background-color: transparent;
  z-index: 20;
}

.twitter-container {
  background-color: blue;
  height: 200px;
  width: 100vw;
}
