.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.App-header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(34, 34, 34, .5);
  height: 25px;
  width: 100vw;
  padding: 20px;
  color: white;
  z-index: 20;
}

.App-title {
  font-size: 1.7em;
}

.App-intro {
  font-size: large;
}

.live-cam {
  width: 100vw;
}

.weather-container {
  position: absolute;
  background-color: transparent;
  z-index: 20;
}

.twitter-container {
  position: relative;
  z-index: 20;
  bottom: 220px;
  height: 200px;
  width: 100vw;
}

@media only screen and (max-width: 768px) {
  .App-header {
    position: relative;
  }
}

@media only screen and (max-width: 910px) {
  .twitter-container {
    margin-top: 0;
    bottom: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .twitter-container {
    margin-top: 0;
  }
}
